.team{
    margin-top: 3%;
    margin-bottom: 3%;
}

.team img{
    border-radius: 25px;
    height: min(200px, 50vw);
    width: min(200px, 50vw);
    display: block;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

h4{
    text-align: center;
    font-size: max(20px, 2vw);
}

.teampics{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: center;
    font-size: max(12px, 1.2vw);
}

h3{
    font-size: max(22px, 2.2vw);
}