/* --rosso-corsa: #d30d0dff;
--red: #ff0000ff;
--android-green: #aacc00ff;
--green-ryb: #55a630ff;
--sizzling-sunrise: #ffdd00ff; */

body{
    background-color: rgb(177, 177, 177);
    color: white;
}

header{
    background-color: #55a630ff
}

input {
    color: black;
    background-color: white;
    border-radius: 8px;
    padding-top: .25vw;
    padding-bottom: .25vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

input[type=submit] {
    color: white;
    background-color: rgb(95, 178, 58);
}

.addItem {
    margin-top: 1.5vw;
}

.truckform > * {
    margin-bottom: 2vw;
}

.truckform > ul > * {
    margin-bottom: 2vw;
}

#truckSingleForms > * {
    margin: .5vw;
}

.checkoutBtn {
    margin-top: 1.2vw;
    margin-left: 50%;
    transform: translate(-50%,50%);
}

.menuTitle {
    margin:auto;
    margin-top: 1.2vw
    margin-bottom: 1.2vw;
    font-weight: bolder;
    font-size: 4vw;
    text-align: center;
    text-shadow: 1px 1px rgb(56, 105, 32), 2px 2px rgb(56, 105, 32), 3px 3px rgb(56, 105, 32), 4px 4px rgb(56, 105, 32), 5px 5px rgb(56, 105, 32), 6px 6px rgb(56, 105, 32), 7px 7px rgb(56, 105, 32), 7px 7px rgb(56, 105, 32), 7px 7px rgb(56, 105, 32);
}

.carouselImage {
    width: 100%;
    margin-top: 25px;
}

#map {
    height: 40vw;
    width: 80vw;
    margin-left: 10vw;
}

.navBarTitle{
    font-size: max(32px, 6vw);
    text-align: center;
    text-shadow: 
    1px 1px rgb(56, 105, 32),
    2px 2px rgb(56, 105, 32),
    3px 3px rgb(56, 105, 32),
    4px 4px rgb(56, 105, 32),
    5px 5px rgb(56, 105, 32),
    6px 6px rgb(56, 105, 32),
    7px 7px rgb(56, 105, 32),
    7px 7px rgb(56, 105, 32),
    7px 7px rgb(56, 105, 32);
}

.login{
    background-color:#ffdd00ff;
    font-size:1.8vw;
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    border: .5vw solid rgb(195, 173, 30);
    padding-bottom: 1.5vw;
    box-shadow: 5px 7px 12px rgb(78, 78, 78);
    margin-bottom: 1.5vw;
}

.FormCollection{
    margin-top: 1vw;
}

.loginpage{
    margin-top: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginbtn{
    background-color:#55a630ff;
    border-radius: 8px;
    padding-left: max(10px, 1vw);
    padding-right:max(10px, 1vw);
    margin:auto;
}

.bar{
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: max(14px, 3vw);
    padding-bottom: 1.5vw;
}

.createAcct {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

.createAcct:hover {
    color: #55a630ff;
}

.signup{
    margin-top: 4vw;
    background-color:#ffdd00ff;
    font-size:max(10px, 1vw);
    color: black;
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    border: .5vw solid rgb(195, 173, 30);
    padding: 3%;
    box-shadow: 5px 7px 12px rgb(78, 78, 78);
    margin-bottom: 1.5vw;
    text-align: center;
}

#truckSingleForms {
    margin: auto;
    margin-top: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    width:70%;
    margin:auto;
    border-top: max(2px,.2vw) solid rgb(56 105 32); 
    border-radius: 15px;
}
.smaller.divider {
    width:50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.truckform{
    margin-top: 4vw;
    background-color:#ffdd00ff;
    font-size:max(12px, 1.2vw);
    color: black;
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius:10px;
    border: .5vw solid rgb(195, 173, 30);
    padding-bottom: 1.5vw;
    box-shadow: 5px 7px 12px rgb(78, 78, 78);
    margin-bottom: 1.5vw;
    text-align: center;
    margin: auto;
    margin-top: 5vw;
}

.truckform input[type=submit] {
    width: 35%;
    margin:auto;
    margin-top: 1%;
    font-size: max(10px, 1vw);
}

.editmenu input:not([type=submit]) {
    margin: auto;
    margin-bottom: 2%;
    width: 60%;
}

.editmenu {
    display: flex;
    flex-flow: column wrap;
}

#aboutus {
    width:70%;
}

.uppage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
}

.box{
    margin: max(1.5vw,15px);
    background-color: #aacc00ff;
    color: black;
    width: max(20%, 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    border: .3vw solid rgb(195, 173, 30);
    box-shadow: 5px 7px 12px rgb(78, 78, 78);
    padding: .3vw;
}

.head{
    color:rgb(255, 255, 255);
    font-size:max(15px, 1.5vw);
    font-family: 'Bowlby One SC', cursive;
    text-shadow:
    1px 1px rgb(5, 8, 5),
    2px 2px rgb(44, 46, 44),
    3px 3px rgb(44, 46, 44),
    4px 4px rgb(44, 46, 44),
    5px 5px rgb(44, 46, 44),
    6px 6px rgb(44, 46, 44),
    7px 7px rgb(44, 46, 44),
    7px 7px rgb(44, 46, 44),
    7px 7px rgb(44, 46, 44);
}

@media (max-width: 1150px){
    .home-picture{
        display: none;
    }
    .over{
        margin-top: 35%;
        width:80%;
    }
}

.picframe{
    position: relative; 
    width: 100%;
}
.over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topright{
    font-size: 2vw;
    position: absolute;
    top: 8px;
    right: 16px;
    font-family: 'Amatic SC', cursive;
}

.topleft{
    font-size: max(20px,2vw);
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: 'Amatic SC', cursive;
    background: hsla(0, 0%, 0%, 0.50);
    padding: 1vw;
}

#listlocator{
    position: relative;
    margin: .5vw;
}

.topleft:hover{
    background: rgba(214, 205, 205, 0.5);
}


.over-title{
    font-size: 4vw;
    font-family: 'Amatic SC', cursive;
}

.transparent{
    background: hsla(0, 0%, 0%, 0.50);
    padding:2vw;
}

#map{
    width: 80vw;
    height: 40vw;
}