/* --rosso-corsa: #d30d0dff;
--red: #ff0000ff;
--android-green: #aacc00ff;
--green-ryb: #55a630ff;
--sizzling-sunrise: #ffdd00ff; */

body{
    background-color: rgb(177, 177, 177);
    color: white;
}

header{
    background-color: #55a630ff
}

.navBarTitle{
    font-size: 6vw;
    text-align: center;
    text-shadow: 
    1px 1px rgb(56, 105, 32),
    2px 2px rgb(56, 105, 32),
    3px 3px rgb(56, 105, 32),
    4px 4px rgb(56, 105, 32),
    5px 5px rgb(56, 105, 32),
    6px 6px rgb(56, 105, 32),
    7px 7px rgb(56, 105, 32),
    7px 7px rgb(56, 105, 32),
    7px 7px rgb(56, 105, 32);
}

.login{
    background-color:#ffdd00ff;
    font-size:1.8vw;
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    border: .5vw solid rgb(195, 173, 30);
    padding-bottom: 1.5vw;
    box-shadow: 5px 7px 12px rgb(78, 78, 78);
    margin-bottom: 1.5vw;
}

.FormCollection{
    margin-top: 1vw;
}

.loginpage{
    margin-top: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginbtn{
    background-color:#55a630ff;
    border-radius: 8px;
    padding-left: 1vw;
    padding-right:1vw;
    margin-right:8vw;
    display: flex;
    justify-content: center;
}

.bar{
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 3vw;
    padding-bottom: 1.5vw;
}

.signup{
    margin-top: 4vw;
    background-color:#ffdd00ff;
    font-size:1vw;
    color: black;
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    border: .5vw solid rgb(195, 173, 30);
    padding-bottom: 1.5vw;
    box-shadow: 5px 7px 12px rgb(78, 78, 78);
    margin-bottom: 1.5vw;
    text-align: center;
}

.uppage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
}

.box{
    margin: 1.5vw;
    background-color: #aacc00ff;
    color: black;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    border: .3vw solid rgb(195, 173, 30);
    box-shadow: 5px 7px 12px rgb(78, 78, 78);
    padding: .3vw;
}

.head{
    color:rgb(255, 255, 255);
    font-size:1.5vw;
    font-family: 'Bowlby One SC', cursive;
    text-shadow:
    1px 1px rgb(5, 8, 5),
    2px 2px rgb(44, 46, 44),
    3px 3px rgb(44, 46, 44),
    4px 4px rgb(44, 46, 44),
    5px 5px rgb(44, 46, 44),
    6px 6px rgb(44, 46, 44),
    7px 7px rgb(44, 46, 44),
    7px 7px rgb(44, 46, 44),
    7px 7px rgb(44, 46, 44);
}

.picframe{
    position: relative; 
    width: 100%;
}
.over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topright{
    font-size: 2vw;
    position: absolute;
    top: 8px;
    right: 16px;
    font-family: 'Amatic SC', cursive;
}

.topleft{
    font-size: 2vw;
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: 'Amatic SC', cursive;
    background: hsla(0, 0%, 0%, 0.50);
    padding: 1vw;
}

.topleft:hover{
    background: rgba(214, 205, 205, 0.5);
}


.over-title{
    font-size: 4vw;
    font-family: 'Amatic SC', cursive;
}

.transparent{
    background: hsla(0, 0%, 0%, 0.50);
    padding:2vw;
}