/* --rosso-corsa: #d30d0dff;
--red: #ff0000ff;
--android-green: #aacc00ff;
--green-ryb: #55a630ff;
--sizzling-sunrise: #ffdd00ff; */

body{
    background-color: #aacc00ff;
    color: white;
}

header{
    background-color: #55a630ff
}

#map {
    height: 40vw;
    width: 80vw;
    margin-left: 10vw;
}

.navBarTitle{
    font-size: 6vw;
    text-align: center;
    text-shadow: 
    1px 1px rgb(56, 105, 32),
    2px 2px rgb(56, 105, 32),
    3px 3px rgb(56, 105, 32),
    4px 4px rgb(56, 105, 32),
    5px 5px rgb(56, 105, 32),
    6px 6px rgb(56, 105, 32),
    7px 7px rgb(56, 105, 32),
    7px 7px rgb(56, 105, 32),
    7px 7px rgb(56, 105, 32);
}

.login{
    background-color:#ffdd00ff;
    font-size:1.5vw;
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    border: .5vw solid rgb(195, 173, 30);
}

.FormCollection{
    margin-top: 1vw;
}

.loginpage{
    margin-top: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginbtn{
    align-self: center;
}

.bar{
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 2vw;
}