{% include 'base.html' %}

{% block content %}

<h3>Meet the Meals on Wheels Team</h3>
<ul class="teampics">
    <li>
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQGm4TKqGuD53Q/profile-displayphoto-shrink_800_800/0/1587755830977?e=1616630400&v=beta&t=0ccvGlu7TboSwix0RQnRsDwacc9WsVNVNBikGr_DwDk" alt="Alex Peña">
        <p>Alex Peña</p>
        <p>Full-stack Python & JavaScript (MERN) developer. PNW resident since 2015, traveler, explorer, off-grid/tiny-living enthusiast. Small business owner (landscaping, online consignment/liquidation). U.S. Navy veteran '03-'12 (F-18 Avionics, Detainee Ops, Recruiting). Committed to professional transparency, inclusivity and lifelong learning!
</p>

    </li>
    <li>
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFI_bHgZmiYyQ/profile-displayphoto-shrink_800_800/0/1586892038477?e=1616630400&v=beta&t=80lyrD-WObu1QUbZwjSkHFF9OXfRR90j3pE0GoeHecA" alt="Robert Radford">
        <p>Robert Radford</p>
        <p>I technically started coding when I was 8 with very low level Visual Basic in notepad, and transitioned to JavaScript when I was 15 still at a very low level as a hobby on the side. I served in the Army from 2015 to 2020 and over my last year in service I picked up Python as a language and started to really put effort into taking my skill set to the next level, and went through Code Fellows 201, 301, and now 401 courses to hone that skill.
</p>
    </li>
    <li>
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHwPSz2nnQM8w/profile-displayphoto-shrink_800_800/0/1604016689721?e=1616630400&v=beta&t=IIZWcWbKi3clkSXWnROB_-oviSY0JJsPZYw9Q73G_A8" alt="Brendan Welzien">
        <p>Brendan Welzien</p>
        <p>University of Washington graduate with a background in public health, environmental science, and food systems. Experience: community work including expanding rooftop farms across the Seattle metropolitan area, assisting food shelters, and revamping customer traffic for small businesses. Motive: I hope to use my background in software engineering and in public health to create applications that promote the general welfare of my communities and those beyond.
</p>
    </li>
    <li>
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFtB7bR3kFJWQ/profile-displayphoto-shrink_800_800/0/1607622666527?e=1616630400&v=beta&t=ce35J9_df5WViu_Cq5LZWFIo-OnKqTi2s80U400dQ1o" alt="Seth McFeaters">
        <p>Seth McFeaters</p>
        <p>Hello there! I’m a full-stack software developer specializing in CSS, JavaScript, and python. I'm passionate about programming and making neat things. I'm also a snowboarder, photographer, hiker, and avid doodler. I have a lot of fun taking things from my head and putting them into the world in whatever way I can. I love the whole process of learning new things in order to make that happen. let me know what I can do for you. I'm always here to help. have a great day! 
</p>
    </li>
</ul>

{% endblock content %}
