{% include 'base.html' %}

{% block content %}

<h3>Meet the Meals on Wheels Team</h3>
<ul>
    <li>
        <img src="https://avatars0.githubusercontent.com/u/57465115?s=460&u=36cdd80640a8ef305d449d562d1bf06c9123d0b5&v=4" alt="Alex Peña">
        <p>Alex Peña</p>
    </li>
    <li>
        <img src="https://avatars3.githubusercontent.com/u/60657749?s=460&u=5ea2b9e17958656e6bbc0d42cf82cb1fbb208890&v=4" alt="Robert Radford">
        <p>Robert Radford</p>
    </li>
    <li>
        <img src="https://avatars3.githubusercontent.com/u/69772052?s=460&u=8de5332c57e254b66d1bb476d922b9002f06f026&v=4" alt="Brendan Welzien">
        <p>Brendan Welzien</p>
    </li>
    <li>
        <img src="https://avatars0.githubusercontent.com/u/69817330?s=460&u=3e3b37d0574c406899bc786c15af9521d8cb6db6&v=4" alt="Seth McFeaters">
        <p>Seth McFeaters</p>
    </li>
</ul>

{% endblock content %}
