{% include 'base.html' %}

{% block content %}

<h3>Meet the Meals on Wheels Team</h3>
<ul>
    <li>
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQGm4TKqGuD53Q/profile-displayphoto-shrink_800_800/0/1587755830977?e=1616630400&v=beta&t=0ccvGlu7TboSwix0RQnRsDwacc9WsVNVNBikGr_DwDk" alt="Alex Peña">
        <p>Alex Peña</p>
    </li>
    <li>
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFI_bHgZmiYyQ/profile-displayphoto-shrink_800_800/0/1586892038477?e=1616630400&v=beta&t=80lyrD-WObu1QUbZwjSkHFF9OXfRR90j3pE0GoeHecA" alt="Robert Radford">
        <p>Robert Radford</p>
    </li>
    <li>
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHwPSz2nnQM8w/profile-displayphoto-shrink_800_800/0/1604016689721?e=1616630400&v=beta&t=IIZWcWbKi3clkSXWnROB_-oviSY0JJsPZYw9Q73G_A8" alt="Brendan Welzien">
        <p>Brendan Welzien</p>
    </li>
    <li>
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFtB7bR3kFJWQ/profile-displayphoto-shrink_800_800/0/1607622666527?e=1616630400&v=beta&t=ce35J9_df5WViu_Cq5LZWFIo-OnKqTi2s80U400dQ1o" alt="Seth McFeaters">
        <p>Seth McFeaters</p>
    </li>
</ul>

{% endblock content %}
