{% include 'base.html' %}

{% block content %}
<section class="truckform">
<ol>
{% for order in orders %}
	<li>
		<h2>{{order.poster.username}}</h2>
		{% if order.poster.phone %}
			<p>{{order.poster.phone}}</p>
		{% endif %}
		{% if order.prepared %}
			<h3>Prepared</h3>
		{% else %}
			<h3>Waiting</h3>
		{% endif %}
		
		<ul>
			{% for item in order.inventory.all %}
			    <li>{{item.item}}: {{item.cost}}</li>
			{% endfor %}
		</ul>
	</li>
	<form method='post'>
		{% csrf_token %}
		<input type="hidden" name="orderno" value='{{order.pk}}'>
		<input type="hidden" name="truck" value='{{order.truck.pk}}'>
		<input type="hidden" name="remove" value='True'>
		<input type="submit" value='Remove'>
	</form>
	{% if not order.prepared %}
		<form method='post'>
			{% csrf_token %}
			<input type="hidden" name="orderno" value='{{order.pk}}'>
			<input type="hidden" name="truck" value='{{order.truck.pk}}'>
			<input type="hidden" name="prepared" value='True'>
			<input type="submit" value='Prepared'>
		</form>
	{% endif %}
{% empty %}
	<li>No orders at this time.</li>
{% endfor %}
</ol>
</section>
{% endblock content %}
