{% include 'base.html' %}

{% block content %}

<section class="picframe w-full">
        <img class=" content opacity-50"src="https://images.pexels.com/photos/1410484/pexels-photo-1410484.jpeg?cs=srgb&dl=pexels-sunyu-kim-1410484.jpg&fm=jpg"/>
        	{% if request.user.is_authenticated %}
            <form action="{% url 'truck list' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="locator" value="True">
            	<button class="topleft" type="submit" name="get_location">See Nearby Trucks</button>
            </form>
           	{% endif %}
    <div class="over ">
        <div class="transparent">
            <p class="over-title"> Meals on wheels helps customers find the food trucks they love by populating nearby food truck locations on a map.</p>
            <p>- Monitored truck tracking </p>
            <p>- Contact information </p>
            <p>- Ordering </p>
        </div>
    </div>
</section>
{% endblock content %}
