{% include 'base.html' %}

{% block content %}

</head>
<body class="flex-col justify-center items-center">
    <div class="login content-between">
        <form method="post">
            {% csrf_token %}
            <h2 class="centeredText">Log In</h2>
                <div class="FormCollection">
                    <div class="InputParent">
                        <input type="text" class="InputChild" name="username" placeholder="Username" required="required">
                    </div>
                </div>
            <div class="FormCollection">
                <div class="InputParent">
                    <input type="password" class="InputChild" name="password" placeholder="Password" required="required">
                </div>
            </div>
                <div class="FormCollection">
                    <button type="submit" class=""> Log In</button>
                </div>
            </form>
            <div class="hint-text small"> No account? <a class="NoAccountText" href="{% url 'signup'%}">Create Account </a></div>
    </div>
</body>
{% endblock %}