{% include 'base.html' %}

{% block content %}

<ul>
{% for item in truck.menu %}
    <li>{{item.item}}: {{item.cost}}</li>
    {% if request.user.is_authenticated %}
    <input type='number' min='0' name='{{item.item}}'>
    {% endif %}
{% endfor %}
</ul>
{% if request.user.is_authenticated %}
    <form method='post'>
    	{% csrf_token %}
    	<input type="hidden" name="inventory" value='{{truck.menu}}'>
    	<input type="hidden" name="truck" value='{{truck}}'>
    	<input type='submit' value='Checkout'>
    </form>
{% endif %}
{% endblock content %}