{% extends 'base.html' %}

{% block content %}

<h1 class='menuTitle'>{{truck.name}}</h1>

<form action='{% url "checkout" %}' method='post'>
	{% csrf_token %}
	<input type="hidden" name="inventory" value='{{menu_items}}'>
	<input type="hidden" name="truck" value='{{truck.pk}}'>
	<section class="truckform">
		<ul>
		{% for item in menu %}
			<section>
				<li><h2>{{item.item}}</h2><p>{{item.description}}</p><h2>{{item.cost}}</h2></li>
				<input type='number' min='0' name='{{item.item}}'>
			</section>
		{% endfor %}
		</ul>
	</section>
	<input class='checkoutBtn' type='submit' value='Checkout'>
</form>

{% endblock content %}