{% include 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'carousel.css' %}">
{% if truck.album.all.count %}
    <div class='slideshow-container'>
        {% for image in truck.album.all %}
            <div data-image="{{image.pk}}" data-link="{{image.link}}" data-title="{{image.title}}" class="mySlides fade">
                <img class='carouselImage' src="{{image.link}}" alt="UML diagram">
            </div>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    {% if edit %}
        <form method="post">
            {% csrf_token %}
            <input type='hidden' name='edit' value='True'>
            <input type='hidden' name='truck' value='{{truck.pk}}'>
            <input type='hidden' name='image' value=''>
            <input type='submit' value='Remove Photo'>
        </form>
    {% endif %}
    {% if edit %}
        <form method="post">
            {% csrf_token %}
            <input type='hidden' name='edit' value='True'>
            <input type='hidden' name='truck' value='{{truck.pk}}'>
            <input type='hidden' name='image' value=''>
            <label>Caption: </label><input id='editPhotoTitle' type="text" name="title" value="" maxlength="75">
            <label>URL: </label><input id='editPhotoLink' type="text" name="link" maxlength="250" value="" required>
            <input type='submit' value='Edit Photo'>
        </form>
    {% endif %}
{% endif %}
{% if edit %}
    <form method="post">
        {% csrf_token %}
        <input type='hidden' name='edit' value='True'>
        <input type='hidden' name='truck' value='{{truck.pk}}'>
        <label>Caption: </label><input type="text" name="title" maxlength="75">
        <label>URL: </label><input type="text" name="link" maxlength="250" required>
        <input type='submit' value='Add Photo'>
    </form>
{% endif %}

<section class="truckform">
    <h1>{{truck.name}}</h1>
    {% if edit %}
        <form method="post">
            {% csrf_token %}
            <input type='hidden' name='edit' value='True'>
            <input type='hidden' name='truck' value='{{truck.pk}}'>
            <label>Name: </label><input type="text" name="name" value="{{truck.name}}" maxlength="75" required>
            <input type='submit' value='Change Name'>
        </form>
    {% endif %}
    <h3>{{truck.locations}}</h3>
    {% if edit %}
        <form method="post">
            {% csrf_token %}
            <input type='hidden' name='edit' value='True'>
            <input type='hidden' name='truck' value='{{truck.pk}}'>
            <label>Location: </label><input type="text" name="location" value="{{truck.location}}" maxlength="75" required>
            <input type='submit' value='Change Location'>
        </form>
    {% endif %}
    {% if truck.contact %}
        <p>{{truck.contact}}</p>
    {% else %}
        <p>No contact number listed</p>
    {% endif %}
    {% if edit %}
        <form method="post">
            {% csrf_token %}
            <input type='hidden' name='edit' value='True'>
            <input type='hidden' name='truck' value='{{truck.pk}}'>
            <label>Contact: </label><input type="text" name="contact" value="{{truck.contact}}" maxlength="18" pattern='.*?[0-9]{3}.*?[0-9]{3}.*?[0-9]{4}' required>
            <input type='submit' value='Change Contact'>
        </form>
    {% endif %}
</section>
    </div>
    <form action="{% url 'menu' %}" method='post'>
        {% csrf_token %}
        {% if edit %}
            <input type='hidden' name='edit' value='True'>
        {% endif %}
        <input type='hidden' name='truck' value='{{truck.pk}}'>
        <input type="submit" value="View Menu">
    </form>
    {% if edit %}
        <form action="{% url 'profile' user=request.user.username %}" method="post">
            {% csrf_token %}
            <input type='hidden' name='edit' value='True'>
            <input type='hidden' name='remove' value='True'>
            <input type='hidden' name='truck' value='{{truck.pk}}'>
            <input type='submit' value='Remove Truck'>
        </form>
    {% endif %}
    {% if edit %}
        <form action="{% url 'order details' %}" method="post">
            {% csrf_token %}
            <input type='hidden' name='truck' value='{{truck.pk}}'>
            <input type='submit' value='View Orders'>
        </form>
    {% endif %}
<script>
    // https://www.w3schools.com/howto/howto_js_slideshow.asp
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function getImageTitle(){
        var slides = document.getElementsByClassName("mySlides");
        return slides[slideIndex-1].getAttribute('data-title')
    }

    function getImageLink(){
        var slides = document.getElementsByClassName("mySlides");
        return slides[slideIndex-1].getAttribute('data-link')
    }

    function getImagePk(){
        var slides = document.getElementsByClassName("mySlides");
        return slides[slideIndex-1].getAttribute('data-image')
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        {% if edit %}
            whichImage = document.getElementsByName('image')
            whichImage.forEach(image => image.value = getImagePk());
            document.getElementById('editPhotoTitle').value = getImageTitle()
            document.getElementById('editPhotoLink').value = getImageLink()
        {% endif %}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
    }
</script>
{% endblock content %}
